@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* Global Variables */
$phone: 640px;
$tablet: 768px;
$background-color: #8ec5fc;
$font: 'Roboto', sans-serif;
$font-color: #1a374d;
$font-light-color: #c8e3d4;
$font-variant: small-caps;
$card-font: 'Rubik', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

html {
  min-height: 100vh;
}

body {
  max-height: 100vh;
  background-color: $background-color;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  font-family: $font;
}

/*Mix-in's*/

@mixin flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin home-button {
  width: 5rem;
  height: 5rem;
  @media screen and (max-width: $tablet) {
    width: 3rem;
    height: 3rem;
    margin-block-start: 0.8rem;
  }
}

@mixin home-button-anchor {
  margin-inline-end: auto;
  padding-inline-start: 1rem;
  padding-block-start: 0.5rem;
}

/*Home Page*/

#home {
  background-color: $background-color;
  background: linear-gradient(-45deg, #d77fa1, #fff9f9, #baabda, #d6e5fa);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.main-section {
  @include flex;
  height: 80%;
  width: 100%;
  margin-top: 8%;

  @media screen and (max-width: $tablet) {
    margin-top: 25%;
  }

  .links {
    color: $font-color;
    padding: 1rem;
    font-size: 4.5rem;
    font-weight: 700;
    font-variant: $font-variant;
    text-decoration: none;
    text-align: center;

    @media screen and (max-width: $tablet) {
      font-size: 3.5rem;
      padding-block: 2rem;
    }
  }

  .links:last-child {
    padding-bottom: 0;
    margin-inline-start: 0.5rem;
  }

  .links:hover {
    -webkit-animation: links 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: links 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes links {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes links {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

/*About*/

.about-container {
  @include flex;
  height: 100vh;
  width: 100%;
  justify-content: flex-start;

  a {
    @include home-button-anchor;
  }

  img {
    @include home-button;
  }
}

.text-box {
  height: fit-content;
  width: 50%;
  margin-top: 3%;
  padding: 2rem;
  border: 0.5rem solid white;
  border-radius: 4px;

  @media screen and (max-width: $tablet) {
    margin: 8%;
    width: fit-content;
  }

  @media screen and (max-width: $phone) {
    margin: 5%;
    padding: 0.5rem;
    border: 0.2rem solid white;
  }

  h2 {
    font-size: 3.5rem;
    font-weight: 700;
    font-variant: $font-variant;
    text-align: center;
    color: $font-color;
    padding-bottom: 1rem;

    @media screen and (max-width: $phone) {
      font-size: 2.5em;
    }

    img {
      width: 4rem;
      height: 3rem;

      @media screen and (max-width: $phone) {
        width: 2rem;
        height: 1.5rem;
      }
    }
  }

  p {
    color: $font-color;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 1.8rem;

    @media screen and (max-width: $phone) {
      font-size: 1rem;
      letter-spacing: 0.05rem;
      line-height: 1.5rem;
    }
  }
}

/*Success*/

.success-container {
  min-height: 100vh;
  background: url(/img/thank-you.jpg) no-repeat center center fixed;
  background-size: cover;

  @media screen and (max-width: $tablet) {
    background: url(/img/thank-you-tablet.png) no-repeat top center fixed;
  }

  @media screen and (max-width: $phone) {
    background: url(/img/thank-you-mobile.png) no-repeat center fixed;
  }

  a {
    @include home-button-anchor;
  }

  img {
    @include home-button;
  }
}

/*Resume*/

iframe {
  margin: 0;
  width: 100%;
  height: 100vh;
}

/*Contact*/

#contact {
  height: 100vh;
  background: linear-gradient(to right, #5f2c82, #49a09d);

  @media screen and (max-width: 350px) {
    height: fit-content;
  }
}

.contact-container {
  @include flex;
  min-height: 50%;
  padding: 1rem;

  a {
    @include home-button-anchor;
  }

  img {
    @include home-button;
  }
}

.text-message {
  padding: 1.25rem 0;
  font-size: 175%;
  font-weight: 400;
  font-variant: $font-variant;
  color: $font-light-color;
}

form {
  @include flex;
  height: 50%;
  width: 30%;
  padding: 2rem;
  border: 3px solid #fff;
  border-radius: 4%;

  @media screen and (max-width: 1100px) {
    width: fit-content;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 4%;
    padding: 3%;
    border: 1px solid #ccc;
    color: $font-color;
    background: #fff;
    font: 110% $font;
    font-variant: $font-variant;
    transition: all 0.3s ease-in-out;
    outline: none;
  }

  input:focus,
  textarea:focus {
    box-shadow: 0 0 0.3rem $font-light-color;
    padding: 3%;
    border: 1px solid $font-light-color;
  }

  button {
    width: 100%;
    padding: 3%;
    border-bottom: 2px solid #49a09d;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    background: $font-light-color;
    color: $font-color;
    font: 110% $font;
    font-weight: 500;
    font-variant: $font-variant;
    cursor: pointer;
  }

  button:focus {
    background: rgb(126, 125, 125);
  }
}

.social-container {
  margin-block-start: 0.5rem;

  .text-social {
    padding: 1.25rem 0;
    font-size: 175%;
    font-weight: 400;
    font-variant: $font-variant;
    color: $font-light-color;
  }

  .social-links {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 1.3rem;

    .logo img {
      width: 2rem;
      height: 2rem;
      margin-block-start: 0.15rem;
      border-radius: 30%;
      cursor: pointer;
    }

    .gmail img {
      width: 2.1rem;
      height: 2.1rem;
    }

    .linkedin img {
      width: 2.4rem;
      height: 2.3rem;
      margin-block-start: 0;
      border-radius: 10%;
    }
  }
}

/*Projects*/

#projects {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.projects-container {
  max-height: 100vh;
  width: 100%;

  a {
    @include home-button-anchor;
  }

  img {
    @include home-button;
  }

  .projects-header {
    height: 20%;
    width: 100%;

    h2 {
      color: $font-color;
      font-size: 2.8rem;
      font-variant: $font-variant;
      margin-block-start: 3rem;
      margin-block-end: 2rem;
      letter-spacing: 0.2rem;
      text-align: center;
      text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px $font-light-color,
        2px 1px 1px #cccccc, 1px 2px 1px $font-light-color, 3px 2px 1px #cccccc,
        2px 3px 1px $font-light-color, 4px 3px 1px #cccccc,
        3px 4px 1px $font-light-color, 5px 4px 1px #cccccc,
        4px 5px 1px $font-light-color, 6px 5px 1px #cccccc,
        5px 6px 1px $font-light-color, 7px 6px 1px #cccccc;

      @media screen and (min-width: 1150px) {
        margin-block-end: 11rem;
      }
    }
  }
}

.cards-container {
  height: 60%;
  width: 95%;
  display: flex;
  margin-block-start: 2rem;
  margin-inline-start: 3rem;
  justify-content: space-around;
  font-family: $card-font;

  @media screen and (max-width: 1149px) {
    height: auto;
    min-height: 40%;
    margin-block-start: 4rem;
    margin-inline-start: 2rem;
  }
}

.card {
  display: flex;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  padding: 1rem;
  width: 22%;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

.card:last-child {
  margin-inline-end: 2rem;
}

.content {
  @include flex;
  width: 100%;
  padding: 1rem;
}

.content:hover,
.content:active {
  .title {
    font-size: 1.8rem;
    padding-block-end: 1rem;
  }
  .hidden-content {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.title {
  font: $font-variant 500 2rem $card-font;
  color: $font-color;
}

.hidden-content {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
}

.description {
  font: $font-variant 1.2rem $card-font;
  line-height: 1.35;
  padding-block-end: 2.5rem;
}

.source-code,
.demo {
  cursor: pointer;
  text-decoration: none;
  font: $font-variant 500 1.1rem $card-font;
  letter-spacing: 0.025rem;
  text-align: center;
  padding: 0.75rem 1rem;
  color: #fff;
  background-color: $font-color;
  border: none;

  @media screen and (max-width: 1250px) {
    display: block;
    padding-inline: 0 !important;
  }
}

.demo {
  margin-inline-start: 1.125rem;

  @media screen and (max-width: 1250px) {
    margin-block-start: 1rem;
    margin-inline-end: 0 !important;
    margin-inline: auto;
  }
}

@media screen and (max-width: $tablet) {
  .projects-container .projects-header h2 {
    margin-block-start: 1rem;
    font-size: 2.5rem;

    @media screen and (max-width: $phone) {
      font-size: 2.1rem;
    }
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
    margin-block: 1rem;

    @media screen and (max-width: $phone) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 2.2rem;
    }
  }

  .card {
    height: fit-content;
    width: 85%;
  }

  .card:last-child {
    margin-inline-end: 0;
  }
}

@media screen and (max-width: $phone) {
  .hidden-content .title {
    font-size: 1.2rem;
  }

  .description {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .source-code,
  .demo {
    display: inline-block;
    margin-inline: 1rem;
    padding: 1rem 1rem !important;
  }
}
