@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Global Variables */
$phone: 640px;
$tablet: 768px;
$background-color: #8ec5fc;
$font: 'Roboto', sans-serif;
$font-color: #1a374d;
$font-variant: small-caps;

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  max-height: 100vh;
  background-color: $background-color;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  font-family: $font;
}

/*Home Page*/

.main-section {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8%;

  @media screen and (max-width: $tablet) {
    margin-top: 5%;
  }

  .links {
    color: $font-color;
    padding: 1rem;
    font-size: 4.5rem;
    font-weight: 700;
    font-variant: $font-variant;
    text-decoration: none;
    text-align: center;
  }

  .links:first-child {
    padding-inline-start: 0;
  }

  .links:last-child {
    padding-bottom: 0;
    margin-inline-start: 0.5rem;
  }

  .links:hover {
    -webkit-animation: links 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: links 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

/* Homepage text animation */
@-webkit-keyframes links {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes links {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

/*Resume*/

iframe {
  margin: 0;
  width: 100%;
  height: 750px;
}
