<!DOCTYPE html>
<html lang="en">
  <!-----------HEAD------------>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>Duarte Almeida</title>
    <link rel="icon" href="/img/logo.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <!-----------BODY------------>
  <body>
    <section>
      <div class="about-container">
        <div class="text-box">
          <h2>hey there <img src="/img/hello.png" alt="hello" /></h2>
          <br />
          <p>
            I am self taught developer, been learning it since late 2020 and was
            lucky enough to change careers less than a year later. <br />
            <br />
            Most of my projects were done using Javascript/Typescript and React
            and/or Node.js but I'm also familiar with other languages and
            frameworks. <br />
            <br />
            Although I'm now just beginning this new chapter, I also bring 10
            plus years work experience in a sales/events enviroment. Can't wait
            for what the future will bring! 🚀
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
