<!DOCTYPE html>
<html lang="en">
  <!-----------HEAD------------>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>Duarte Almeida</title>
    <link rel="icon" href="/img/logo.png" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <!-----------BODY------------>
  <body>
    <section>
      <iframe
        src="https://drive.google.com/file/d/1YSfPXA5bjk9Ml8DTqDOnitDoV5llwIob/preview"
        allow="autoplay"
      ></iframe>
    </section>
    <script src="index.js"></script>
  </body>
</html>
